@model Szkola.Models.Kurs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LStudentów)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LStudentów)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdKurs }) |
    @Html.ActionLink("Back to List", "Index")
</p>
